@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300";
@import url(../contextmenu/contextMenu.css);
/*center this element at the center of parent*/
.layerTreeControl {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 240px;
  min-width: 200px;
  width: 320px;
  box-sizing: content-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

.layerTreeControlClosed {
  height: 40px; }

.layerTreeControl svg {
  width: 100%;
  height: 100%; }

.layerTreeHeader {
  background-color: #0d141c;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40px;
  cursor: default; }

.layerTreeTitleIcon {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  stroke: white; }

.layerTreeTitleIcon svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: 24px; }

.layerTreeTitle {
  display: inline-block;
  line-height: 40px;
  vertical-align: top; }

.layerTreeBody {
  background-color: #171c22;
  transition: height 0.3s linear;
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 40px); }

.layerTreeBodyClosed {
  height: 0;
  padding-bottom: 0; }

.layerTreeBody:after {
  clear: both;
  content: "";
  display: block; }

.layerTreeCollapseAction {
  background-image: none;
  float: right;
  width: 40px;
  height: 40px; }

.layerTreeCollapseAction svg {
  transition: 0.3s linear; }

.layerTreeCollapseActionClosed svg {
  transform: rotate(90deg); }

.layerTreePanel {
  width: 100%;
  overflow: auto; }

.layerTreeGroupChildren {
  width: 100%;
  top: 40px;
  left: 0;
  padding-left: 40px; }

.dragging {
  opacity: 0.4; }

.dragHoverBottom {
  border-bottom: 3px solid white; }

.dragHoverTop {
  border-top: 3px solid white; }

.layerTreeNode {
  white-space: nowrap;
  line-height: 40px;
  position: relative;
  width: 100%;
  /* Required to make elements draggable in old WebKit */
  -webkit-user-drag: element; }

.layerTreeSelectedNode {
  background-color: #2b3540; }

.layerTreeNode:not(.layerTreeSelectedNode) > .layerTreeVisibleToggle:hover {
  background-color: #171c22; }

.layerTreeSelectedNode > .layerTreeVisibleToggle:hover {
  background-color: #28313b; }

.layerTreeSelectedNode > .layerTreeVisibleToggle {
  background-color: #2b3540; }

.layerTreeNodeButtons {
  background-color: #2b3540;
  display: inline-block;
  height: 40px;
  width: 85px;
  position: absolute;
  right: 40px;
  top: 0; }

.layerTreeButton {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 2px;
  position: relative;
  stroke: white;
  fill: white; }

.layerTreeControl svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: 24px; }

.layerTreeButton:hover {
  background-color: #28313b; }

.layerTreeVisibleToggle {
  position: absolute;
  right: 0;
  top: 0;
  fill: #bcdb28;
  background-color: #171c22; }

.layerTreeDisabled svg {
  stroke: #aeb0b5;
  fill: #aeb0b5; }

.layerTreeTextDisabled {
  color: #aeb0b5; }

.layerTreeNodeLabel {
  display: inline-block;
  padding-left: 5px;
  position: absolute;
  left: 40px;
  top: 0; }

.layerTreeLayerIcon {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
  fill: #454f5b;
  stroke: #454f5b;
  stroke-opacity: 1; }

.layerTreeContextMenuIcon {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  vertical-align: top;
  stroke: white;
  fill: white; }

.contextMenu {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: white;
  min-height: 40px; }

.contextMenu svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: 24px; }

.contextMenuItem {
  height: 40px;
  line-height: 40px;
  color: white;
  vertical-align: top; }
