@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300';
@import '../contextmenu/contextMenu.css';

//fonts
$font-family: 'Source Sans Pro', sans-serif;
$font-size: 18px;

//colors
$primary-color: white; //used for text and icons
$bg-color: rgb(23, 28, 34); //main background color
$header-bg-color: rgb(13, 20, 28); //background color of header
$selected-node-color: rgb(43, 53, 64); //color of selected/active/hovered layerNode
$layerType-icon-color: rgb(69, 79, 91); //color of layerType icons
$visibility-active-color: rgb(188, 219, 40); //color of visibility active icon
$disabled-color: rgb(174, 176, 181); //color of disabled text and icons
$button-hover-color: rgb(40, 49, 59); //background color of buttons being hovered

//dimensions
$node-height: 40px; //height of a layer node
$button-size: $node-height; //size of icon buttons
$icon-size: 24px; //size of icons (inside buttons and others)
$header-height: $node-height;

//animations
$anim-duration: 0.3s; //keep synced with timeout in HTML5LayerTreeControl._updateCollapseState!
$anim-ease: linear;

/*center this element at the center of parent*/
@mixin centered {
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
}

.layerTreeControl {
  font-family: $font-family;
  font-size: $font-size;
  color: $primary-color;
  position : absolute;
  top: 10px;
  right: 10px;
  height: $header-height + 5 * $node-height;
  min-width: 200px;
  width: 320px;
  box-sizing: content-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.layerTreeControlClosed {
  height: $header-height;
}

.layerTreeControl svg {
  width: 100%;
  height: 100%;
}

.layerTreeHeader {
  background-color: $header-bg-color;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: $header-height;
  cursor: default;
}

.layerTreeTitleIcon {
  display: inline-block;
  width: $button-size;
  height: $button-size;
  position: relative;

  stroke: $primary-color;
}

.layerTreeTitleIcon svg {
  @include centered;
  width: $icon-size;
  height: $icon-size;
}

.layerTreeTitle {
  display: inline-block;
  line-height: $header-height;
  vertical-align: top;
}

.layerTreeBody {
  background-color: $bg-color;
  transition: height $anim-duration $anim-ease;
  overflow-y: auto;
  width: 100%;
  height: calc(100% - #{$header-height})
}

.layerTreeBodyClosed {
  height: 0;
  padding-bottom: 0;
}

.layerTreeBody:after {
  clear: both;
  content: "";
  display: block;
}

.layerTreeCollapseAction {
  background-image: none;
  float: right;
  width: $header-height;
  height: $header-height;
}

.layerTreeCollapseAction svg {
  transition: $anim-duration $anim-ease;;
}

.layerTreeCollapseActionClosed svg {
  transform: rotate(90deg);
}

.layerTreePanel {
  width: 100%;
  overflow: auto;
}

.layerTreeGroupChildren {
  width: 100%;
  top: $node-height;
  left: 0;
  padding-left: $button-size;
}

.dragging {
  opacity: 0.4;
}

.dragHoverBottom {
  border-bottom: 3px solid $primary-color;
}

.dragHoverTop {
  border-top: 3px solid $primary-color;
}

.layerTreeNode {
  white-space: nowrap;
  line-height: $node-height;
  position: relative;
  width: 100%;
  /* Required to make elements draggable in old WebKit */
  -webkit-user-drag: element;
}

.layerTreeSelectedNode {
  background-color: $selected-node-color;
}

.layerTreeNode:not(.layerTreeSelectedNode) > .layerTreeVisibleToggle:hover {
  background-color: $bg-color;
}

.layerTreeSelectedNode > .layerTreeVisibleToggle:hover {
  background-color: $button-hover-color;
}

.layerTreeSelectedNode > .layerTreeVisibleToggle {
  background-color: $selected-node-color;
}

.layerTreeNodeButtons {
  background-color: $selected-node-color;
  display: inline-block;
  height: $node-height;
  width: 2 * $button-size + 5px;
  position: absolute;
  right: $button-size;
  top: 0;
}

.layerTreeButton {
  display: inline-block;
  width: $button-size;
  height: $button-size;
  margin-left: 2px;
  position: relative;

  stroke: $primary-color;
  fill: $primary-color;
}

.layerTreeControl svg {
  @include centered;
  width: $icon-size;
  height: $icon-size;
}

.layerTreeButton:hover {
  background-color: $button-hover-color;
}

.layerTreeVisibleToggle {
  position: absolute;
  right: 0;
  top: 0;
  fill: $visibility-active-color;
  background-color: $bg-color;
}

.layerTreeDisabled svg {
  stroke: $disabled-color;
  fill: $disabled-color;
}

.layerTreeTextDisabled {
  color: $disabled-color;
}

.layerTreeNodeLabel {
  display: inline-block;
  padding-left: 5px;
  position: absolute;
  left: $button-size;
  top: 0;
}

.layerTreeLayerIcon {
  display: inline-block;
  width: $button-size;
  height: $button-size;
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
  fill:$layerType-icon-color;
  stroke: $layerType-icon-color;
  stroke-opacity:1
}

.layerTreeContextMenuIcon {
  display: inline-block;
  position: relative;
  width: $button-size;
  height: $button-size;
  vertical-align: top;

  stroke: $primary-color;
  fill: $primary-color;
}

.contextMenu {
  font-family: $font-family;
  font-size: $font-size;
  color: $primary-color;
  min-height: $node-height;
}

.contextMenu svg {
  @include centered;
  width: $icon-size;
  height: $icon-size;
}

.contextMenuItem {
  height: $node-height;
  line-height: $node-height;
  color: $primary-color;
  vertical-align: top;
}