@import url('../../verticalview/vvlabels.css');

#verticalview {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#vview {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: white;
    position: relative;
    overflow: hidden;
}

#fitMp {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 800;
    width:48px;
    height:48px;
    background: url(fit.png) no-repeat 100% 100%;
}

#fitMp:active {
    top:23px;
}
