<div class="GazetteerControl">
  <input dojoAttachpoint="_comboBoxNode"
       name="search"
       store="${store}"
       value="${value}"
       searchAttr="${searchAttr}">
  <div dojoAttachPoint="_btnSearch" class="GazetteerIcon GazetteerSearchButton"></div>
  <div dojoAttachPoint="_btnClear" class="GazetteerIcon GazetteerClearButton"></div>
</div>