<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olly</title>
    {% include 'Home/html_dependencies_home.html' %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
{% block content %}
{% endblock %}
</body>
</html>