<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta data-lcd-included-files="../../static/js/main.js" id="include_highlights_from">
<link rel="icon" type="image/png" href="../../static/images/icons/favi.ico"/>

        <script src="../../static/web/samples/lib/jquery/jquery-1.12.2.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <!-- jQuery 3 --
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <!-- jQuery UI 1.11.4 --
        <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="../../static/web/proyecto/Canacar/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../../static/web/proyecto/recursos/js/AdvancedTimeSlider/lib/moment.min.js"></script>
        <!--<script type="text/javascript" src="../recursos/js/AdvancedTimeSlider/lib/bootstrap/js/bootstrap.js"></script>
        -->
        <script type="text/javascript" src="../../static/web/proyecto/recursos/js/AdvancedTimeSlider/lib/bootstrap/js/bootstrap-datetimepicker.min.js"></script>

        <!-- Bootstrap WYSIHTML5 -->
        <script src="../../static/web/proyecto/Canacar/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

        <!-- daterangepicker -->
        <script src="../../static/web/proyecto/Canacar/bower_components/moment/min/moment.min.js"></script>
        <script src="../../static/web/proyecto/Canacar/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>

        <!-- jQuery Knob Chart -->
        <script src="../../static/web/proyecto/Canacar/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>

        <!-- datepicker --
        <script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="../../static/web/proyecto/Canacar/dist/js/pages/dashboard.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="../../static/web/proyecto/Canacar/dist/js/demo.js"></script>
        <!-- Slimscroll -->
        <script src="../../static/web/proyecto/Canacar/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="../../static/web/proyecto/Canacar/bower_components/fastclick/lib/fastclick.js"></script>
        <!-- AdminLTE App -->
        <script src="../../static/web/proyecto/Canacar/dist/js/adminlte.min.js"></script>
        <!-- Morris.js charts -->
        <script src="../../static/web/proyecto/Canacar/bower_components/raphael/raphael.min.js"></script>
        <script src="../../static/web/proyecto/Canacar/bower_components/morris.js/morris.min.js"></script>
        <!-- Sparkline -->
        <script src="../../static/web/proyecto/Canacar/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
        <!-- jvectormap -->
        <script src="../../static/web/proyecto/Canacar/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="../../static/web/proyecto/Canacar/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!--=================================================================================================-->

        <script data-dojo-config="async: true, parseOnLoad: false" src="../../static/web/samples/lib/dojo/dojo.js" type="text/javascript"></script>
        <link href="../../static/web/proyecto/Canacar/demo.css" rel="stylesheet">
        <link href="../../static/web/proyecto/Canacar/label.css" rel="stylesheet">
        <link href="../../static/web/proyecto/Canacar/jquery-ui.css" rel="stylesheet">
        <script data-dojo-config="async: 1" src="../../static/web/proyecto/Canacar/js/run.js" type="text/javascript"></script>
<!--=================================================================================================-->

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../../static/web/proyecto/Canacar/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../static/web/proyecto/Canacar/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../../static/web/proyecto/Canacar/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../static/web/proyecto/Canacar/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../static/web/proyecto/Canacar/dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="../../static/web/proyecto/Canacar/bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="../../static/web/proyecto/Canacar/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="../../static/web/proyecto/Canacar/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="../../static/web/proyecto/Canacar/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="../../static/web/proyecto/Canacar/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


    <link href="../../static/web/samples/trajectories/css/trajectories.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>