@import "../css/bootstrap-luciad.min.css";
@import "../../../luciad/resources/css/luciad.css";
@import "../../../samples/lib/dijit/themes/claro/claro.css";
@import "../../../samples/common/layertreecontrol/LayerTreeControl.css";
@import "../../../samples/common/layertreecontrol/resources/css/FoldableLayerControl.css";
@import "../../../samples/common/mouseLocation/MouseLocationComponent.css";

html, body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 13px;
  background-color: #1d2227;
}

#buttons {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 400;
  background-color: transparent;
  border: 0;
}

.btn-map {
  background-color: transparent !important;
  border: 0;
  font-size: 1.75em;
  padding: 2px 4px;
}

.btn-default:hover {
  background-color: #b0c623 !important;
  color: #0d141c !important;
  border-color: #1d2227 !important;
}

.active .glyphicon {
  color: #0d141c !important;
}

.btn-default:hover .glyphicon {
  background-color: #b0c623 !important;
  color: #0d141c !important;
  border-color: #1d2227 !important;
}

.btn-map:hover {
  color: rgb(192, 217, 42) !important;
}

.btn-map.active {
  color: rgb(192, 217, 42) !important;
}

#logo-luciad {
  width: 153px;
  height: 56px;
  position: absolute;
  /*bottom: 280px;*/
  /*left: 10px;*/
  bottom: 264px;
  right: 10px;
  /*right: calc(50% - 76px);*/
  z-index: 150;
  background-image: url("../css/img/LUCIAD_LOGO_BLANC.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
}

#wrapper {
  position: relative;
  margin: 0 auto;
  width: 95%;
}

.lcd-map {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  background-color: #181818;
}

#sample_title {
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.details {
  font-size: smaller;
  font-style: italic;
}

#datetimelabelend {
  right: 10px;
}

/*.collapse.horizontal {*/
/*height: auto;*/
/*width:0;*/
/*-webkit-transition: width 0.35s ease;*/
/*-moz-transition: width 0.35s ease;*/
/*-o-transition: width 0.35s ease;*/
/*transition: width 0.35s ease;*/
/*}*/

#togleafter {
  position: absolute;
  left: 10px;
  top: 10px;
  /*width: auto;*/
  width: 60px;
  z-index: 500;
  padding: 10px 10px 10px 10px;
  background-color: rgba(29, 34, 39, 0.6);
}

#after {
  display: none;
  position: absolute;
  left: 70px;
  top: 10px;
  width: auto;
  z-index: 500;
  padding: 10px 10px 10px 10px;
  background-color: rgba(29, 34, 39, 0.6);
}

.btnGrpCompare {
  position: absolute;
  left: 395px;
  background-color: rgba(29, 34, 39, 0.6);
  padding: 10px;
}

.btnGrpCompare button {
  text-align: left;
}

.hidden-width {
  visibility: hidden;
}

#btnGrpChooseRange {
  position: absolute;
  right: -10px;
  background-color: rgba(29, 34, 39, 0.6);
  padding: 10px;
  top: -98px;
  width: 532px;
  padding-left: 36px;
}

.chooseRangeEnd {
  top: -431px !important;
  bottom: 200px !important;
  left: -160px !important;
}

.chooseRangeStart {
  /*top: -431px !important;*/
  /*bottom: 200px !important;*/
  /*!*position: absolute !important;*!*/
  /*right: -160px !important;*/
  top: calc(100% - 631px) !important;
  bottom: 340px !important;
  position: fixed !important;
  /* right: 160px !important; */
  left: calc( 100% - 542px) !important;
}

.pickRangeEnd {
  top: -343px !important;
  bottom: 112px !important;
  left: -160px !important;
}

/*#datetimelabelend div {*/
  /*top: -343px !important;*/
  /*bottom: 112px !important;*/
  /*left: -160px !important;*/
/*}*/

.pickRangeStart {
  top: -343px !important;
  bottom: 112px !important;
  left: -10px !important;
}

/*#datetimelabelstart div {*/
  /*top: -343px !important;*/
  /*bottom: 112px !important;*/
  /*left: -10px !important;*/
/*}*/

.inpRangeLcd {
  width: 49px !important;
  text-align: right;
}

.btnRangeLcd {
  width: 74px !important;
  text-align: left;
}

#btnCompare {
  width: 40px;
  background-image: url("img/compare-icon.png");
  background-repeat: no-repeat;
  background-size: 18px 16px;
  /*background-size:cover;*/
  background-position: center;
  padding: 10px;
}

#btnCompare:hover {
  background-image: url("img/compare-icon-black.png");
}

/*#btnCompare span {*/
/*background-image: url("img/compare-icon-0.png");*/
/*background-repeat: no-repeat;*/
/*!*background-size: 60px 60px;*!*/
/*background-size:cover;*/
/*z-index: 10000;*/
/*width: 40px;*/
/*!*-webkit-filter: invert(100%); filter: invert(100%);*!*/
/*}*/

#btnGrpCompare {
  top: -64px;
}

.btnGrpCombine {
  position: absolute;
  left: 159px;
  background-color: rgba(29, 34, 39, 0.6);
  padding: 10px;
}

.btnGrpCombine button {
  text-align: left;
}

#btnGrpCombineYears {
  top: -64px;
}

#btnGrpCombineMonths {
  top: -130px;
}

#btnGrpCombineDays {
  top: -295px;
}

#btnGrpCombineHours {
  top: -262px;
}

#inpTimeRange {
  /*width: 249px;*/
  width: 206px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#lefttimemenu {
  position: absolute;
  left: 10px;
}

#righttimemenu {
  position: absolute;
  right: 10px;
}

#middletimemenu {
  position: absolute;
  /*left: calc(50% - 248px); // with remove button*/
  /*left: calc(50% - 226px);*/
  left: calc(50% - 176px - 138px); /* current time centered */
}

#timemenu button {
  top: 0px;
}

#timemenu .btn-group button {
  top: 0px;
}

#timemenu {
  position: absolute;
  /*left: calc(50% - 103px);*/
  left: 10px;
  right: 10px;
  bottom: 210px;
  height: 44px;
  /*width: auto;*/
  z-index: 500;
  padding: 10px 0px 10px 10px;
  /*padding: 5px;*/
  background-color: rgba(29, 34, 39, 0.6);
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/*#timemenu span {*/
/*cursor: pointer;*/
/*cursor: hand;*/
/*text-align: center;*/
/*border-radius: 4px;*/
/*padding: 10px;*/
/*}*/

/*#timemenu span.disabled {*/
/*cursor: default;*/
/*opacity: 0.5;*/
/*}*/

/*#timemenu span.disabled:hover {*/
/*color: white;*/
/*background-color: transparent;*/
/*}*/

/*#timemenu span:hover {*/
/*color: black;*/
/*background-color: rgb(192, 217, 42);*/
/*}*/

#verticalmenu {
  /*display: none;*/
  position: absolute;
  left: 10px;
  top: 64px;
  /*top: 116px;*/
  width: 60px;
  z-index: 500;
  padding: 10px 10px 10px 10px;
  background-color: rgba(29, 34, 39, 0.6);
}

#btnGrpDraw {
  display: none;
  position: absolute;
  left: 60px;
  top: 224px;
  width: 100px;
  z-index: 500;
  padding: 10px 10px 10px 10px;
  background-color: rgba(29, 34, 39, 0.6);
}

#btnGrpTimeOptions {
  display: none;
  position: absolute;
  left: 60px;
  top: 224px;
  width: 100px;
  z-index: 500;
  padding: 5px;
  background-color: rgba(29, 34, 39, 0.6);
}

#btnGrpSearch {
  display: none;
  position: absolute;
  left: 60px;
  top: 172px;
  width: auto;
  z-index: 500;
  padding: 10px 10px 10px 10px;
  background-color: rgba(29, 34, 39, 0.6);
}

#btn2d {
  padding-left: 11px;
  width: 40px;
}

#btn3d {
  padding-left: 11px;
  width: 40px;
}

.btn-divider {
  width: 10px;
  height: auto;
  display: inline-block;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.btn-divider-vertical {
  width: auto;
  height: 10px;
  display: inline-block;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.smalldivider {
  width: 5px;
  height: auto;
  display: inline-block;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.luciad-label {
  right-margin: 100px;
}

/*#infopanel {*/
/*min-width: 333px;*/
/*display: none;*/
/*width: 35%;*/
/*height: 100%;*/
/*position: absolute;*/
/*z-index: 300;*/
/*top: 0px;*/
/*left: 0px;*/
/*padding: 0 10px 10px 10px;*/
/*background-color: rgba(13, 20, 28, 0.95);*/
/*font-size: 12px;*/
/*}*/

#infopanel {
  min-width: 333px;
  display: none;
  width: 35%;
  /*height: 50%;*/
  position: absolute;
  z-index: 300;
  top: 64px;
  /*left: 10px;*/
  left: 70px;
  padding: 0 10px 10px 10px;
  /*background-color: rgba(13, 20, 28, 0.95);*/
  background-color: rgba(29, 34, 39, 0.6);
  font-size: 12px;
}

#infopanel-content {
  /*margin-top: 35px; !*info button = 10px from top + 25px high *!*/
  /*margin-top: 60px;*/
  overflow: auto;
  /*height: calc(100% - 60px);*/
}

#afterafter {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 200px;
  z-index: 100;
  padding: 10px 10px 10px 10px;
  /*background-color: #1d2227;*/
  /*background-color: rgba(0, 62, 81, 0.6);*/
  background-color: rgba(29, 34, 39, 0.6);
}

#timeSlider {
  z-index: 1000;
  height: 110px !important;
  background-color: rgba(29, 34, 39, 0.6);
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  /*top: 30px;*/
}

#timeSliderOverview {
  position: absolute;
  left: 116px;
  right: 116px;
  top: 10px;
  z-index: 1000;
  /*margin-bottom: 10px;*/
  height: 60px !important;
  /*margin-left: 150px;*/
  /*margin-right: 150px;*/
  background-color: rgba(29, 34, 39, 0.6);
  cursor: pointer;
  cursor: hand;
}

/*#overviewFeatureHandle {*/
/*z-index: 2000;*/
/*!*pointer-events: none;*!*/
/*background-color: rgba(255, 0, 0, 0.1);*/
/*!*background-color: transparent;*!*/
/*position: absolute;*/
/*left: 0px;*/
/*!*right: 0px;*!*/
/*width: 100%;*/
/*height: 60px;*/
/*top: -10px;*/
/*cursor: pointer;*/
/*cursor: hand;*/
/*}*/

#btnStart {
  width: 102px;
  height: 58px;
}

/*#btnStart:hover {*/
/*width: 102px;*/
/*height: 58px;*/
/*}*/

#btnChooseCurrentTime {
  top: 0px !important;
}

.chooseCurrentTime {
  left: -116px !important;
  /*left: calc(100% - 100px) !important;*/
}

.chooseYear {
  left: -165px !important;
  /*left: calc(100% - 100px) !important;*/
}

.chooseMonth {
  left: -250px !important;
  /*left: calc(100% - 100px) !important;*/
}

.chooseDay {
  left: -340px !important;
  /*left: calc(100% - 100px) !important;*/
}

#divChooseCurrentTime div {
  top: -299px !important;
  bottom: 42px !important;
  /*left: -115px !important;*/
  /*left: calc(100% - 100px) !important;*/
}

#lcdMonthPicker {
  top: -233px !important;
  /*bottom: 42px !important;*/
  left: calc( 50% - 82px) !important;
}

/*#lcdMonthChooser {*/
  /*top: -233px !important;*/
  /*!*bottom: 42px !important;*!*/
  /*left: calc( 50% - 82px) !important;*/
/*}*/

#lcdDayPicker {
  top: -175px !important;
  /*bottom: 42px !important;*/
  left: calc( 50% - 172px) !important;
}

#btnChooseJump {
  width: 100px;
}

#btnGrpChooseJump {
  width: 120px;
  position: absolute;
  top: -262px !important;
  /*bottom: 42px !important;*/
  left: calc( 50% - 60px) !important;
  background-color: rgba(29, 34, 39, 0.6);
  padding: 10px;
}

#lcdYearPicker {
  top: -263px !important;
  /*bottom: 42px !important;*/
  left: calc( 50% + 4px) !important;
}

.lcd-datetimelabel {
  z-index: 1050;
  position: fixed;
  /*background-color: transparent;*/
  /*pointer-events: none;*/
  cursor: pointer;
  cursor: hand;
  /*color: white;*/
  /*text-shadow: black 0px 0px 5px;*/
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /*background-color: #0d141c;*/
  /*background-color: rgba(13, 20, 28, 0.7);*/
  background-color: rgba(13, 20, 28, 1.0);
  width: 96px;
  /*height: 55px;*/
  height: 60px;
}

.pickerTarget {
  z-index: 1050;
  position: fixed;
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  background-color: rgba(13, 20, 28, 1.0);
}

.lcd-datetimelabel:hover {
  background-color: #b0c623;
  color: #0d141c;
  border-color: #1d2227;
}

.pickerTarget:hover {
  background-color: #b0c623;
  color: #0d141c;
  border-color: #1d2227;
}

/*#datetimelabelstart:hover #datelabelstart {*/
/*color: rgb(192, 217, 42);*/
/*}*/
/*#datetimelabelstart:hover #timelabelstart {*/
/*color: rgb(192, 217, 42);*/
/*}*/

/*#datetimelabelend:hover #datelabelend {*/
/*color: rgb(192, 217, 42);*/
/*}*/
/*#datetimelabelend:hover #timelabelend {*/
/*color: rgb(192, 217, 42);*/
/*}*/

.lcd-timelabel {
  position: fixed;
  /*bottom: 167px;*/
  bottom: 165px;
  font-size: 150%;
  /*font-family: "Lucida Console", Monaco, monospace;*/
}

.lcd-datelabel {
  position: fixed;
  /*bottom: 150px;*/
  bottom: 147px;
  font-size: 88%;
  font-family: "Lucida Console", Monaco, monospace;
}

#datelabelstart {
  left: 30px;
}

#timelabelstart {
  left: 30px;
}

#datelabelend {
  right: 28px;
}

#timelabelend {
  right: 30px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  visibility: hidden;
}

.bootstrap-datetimepicker-widget {
  background-color: rgba(29, 34, 39, 0.6);
  z-index: 100;
  box-shadow: none;
  color: white;
  border: none;
  top: -299px;
  bottom: 63px;
  /*left: -10px;*/
}

.bootstrap-datetimepicker-widget :hover {
  color: white;
}

.bootstrap-datetimepicker-widget table td.active {
  background-color: rgba(0, 62, 81, 1.0);
}

.bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color: rgba(0, 62, 81, 1.0);
}

/*.bootstrap-datetimepicker-widget :hover {*/
/*}*/

/*.bootstrap-datetimepicker-widget table td span:hover {*/
/*color: black;*/
/*background: rgb(192, 217, 42);*/
/*text-shadow: none;*/
/*}*/

.bootstrap-datetimepicker-widget table td span:hover,
.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover,
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.glyphicon-chevron-left:hover,
.glyphicon-chevron-right:hover {
  color: black;
  background: rgb(192, 217, 42);
  text-shadow: none;
}

th:hover .glyphicon {
  color: black;
}

.glyphicon {
  color: white;
}



