@import "../../../luciad/resources/css/luciad.css";
@import "bootstrap-luciad.min.css";
@import "inputrange.css";
@import "../../common/attribution/AttributionComponent.css";
@import "../../lib/dojo/resources/dojo.css";
@import "../../lib/dijit/themes/claro/claro.css";
@import "../../common/html5layertreecontrol/HTML5LayerTreeControl.css";
@import "../../common/navigation/ZoomControl.css";
@import "../../common/navigation/PanControl.css";
@import "../../common/mouseLocation/MouseLocationComponent.css";
@import "../../lib/dojox/highlight/resources/highlight.css";
@import "../../lib/dojox/highlight/resources/pygments/colorful.css";

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

label {
  text-transform: uppercase;
}

code {
  background-color: transparent;
}

#map {
  background-color: #181818;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 0;
  margin: 0 0;
}

#onmap {
  z-index: 200;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#buttons {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 400;
  background-color: transparent;
  border: 0;
}

.btn-map {
  background-color: transparent !important;
  border: 0;
  font-size: 1.75em;
  padding: 2px 4px;
}

.btn-map:hover {
  color: rgb(192, 217, 42) !important;
}

.btn-map.active {
  color: rgb(192, 217, 42) !important;
}

#logo {
  width: 118px;
  height: 33px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 150;
  background-image: url("../../../luciad/resources/css/images/logo_luciad_white.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  pointer-events: none;
}

#infopanel {
  min-width: 300px;
  display: none;
  width: 30%;
  height: 100%;
  position: absolute;
  z-index: 300;
  top: 0px;
  left: 0px;
  padding: 0 10px 10px 10px;
  background-color: rgba(13, 20, 28, 0.95);
  font-size: 12px;
}

#infopanel-content {
  margin-top: 35px; /*info button = 10px from top + 25px high */
  overflow: auto;
  height: calc(100% - 35px);
}

#right {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  width: 50%;
}

#after {
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.topcenter {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0%); /* Safari fix */
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 90;
}

.bottomcenter {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0%); /* Safari fix */
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 90;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.48);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(205, 201, 201, 0.8);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.64);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(238, 233, 233, 0.4);
}

.toasts {
  width: 60%;
}

.toast {
  text-align: start;
  padding: 1em;
  margin-top: 2em;
  z-index: 1000;
  font-size: larger;
  font-weight: bold;
  transition: opacity 300ms ease-in;
  background-color: rgba(50, 50, 50, 0.7);
  color: white;
}

.toast.error {
  border: 1px solid #d40a00;
}

.toast.warning {
  border: 1px solid #ffb000;
}

button {
  margin: 2px;
}

/* pre and code */
pre, code {
  color: rgb(192, 217, 42);
	border: 0px solid #ccc;
  padding: 0px 0px
}

pre {
	border-width: 0px 0;
	padding: 1.5em;
}

.glyphicon {
  text-shadow: 0px 0px 4px rgba(50, 50, 50, 0.7);
}
