@import "../../../luciad/resources/css/luciad.css";
@import "../../lib/dojo/resources/dojo.css";
@import "../../lib/dijit/themes/claro/claro.css";

@import "../../common/html5layertreecontrol/HTML5LayerTreeControl.css";

@import "../../navigation/resources/ZoomControl.css";
@import "../../navigation/resources/PanControl.css";


@import "../../common/mouseLocation/MouseLocationComponent.css";
@import "../../lib/dojox/highlight/resources/highlight.css";
@import "../../lib/dojox/highlight/resources/pygments/colorful.css";


/*
Page globals. Overwrite claro defaults.
*/
html, body {
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 13px;
}

pre, code {
    background-color: white;
    border: 0;
}

.apiRef {
  font-family: "Courier New", Courier, monospace
}

#mapTab {
    padding: 0;
    margin: 0;
    border: 0;
}
/*
App container
*/
.wrapper {
    position: relative;
    height: auto;
    width: 100%;
}

/*
Page sections:
*/
.header {
    height: auto;
    position: relative;
    border: 1px solid white;
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
    border: 1px solid white;
}

#tabs {
    position: relative;
}
/*#snippet mapcss*/
#map {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../images/grid.png');
    background-repeat: repeat;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/*#endsnippet mapcss*/

#main_content {
    position: relative;
}

#logo {
    width: 120px;
    height: 33px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 400;
    background-image: url("../../../luciad/resources/css/images/logo_luciad_blue.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    pointer-events: none;
}

#sample_title {
    font-weight: bold;
    font-size: 18px;
    color: #3c2776;
}

.sample_highlight {
    border: 1px dashed #d3d3d3;
    padding: 4px;
    margin: 4px;
    float: left;
    font-size: 0.8em;
}

.sample_highlight_file {
}

.sample_highlight_file_title {
    font-weight: bolder;
    font-size: 1em;
    color: #3c2776;
}

.sample_highlight_title {
    font-style: italic;
    font-size: 1.2em;
}

#toastwrapper {
    width: 100%;
    position: absolute;
    z-index: 10;
    text-align: center;
}

#toast {
    text-align: start;
    box-shadow: 0.2em 0.2em 0.3em gray;
    display: none;
    max-width: 80%;
    padding: 1em;
    margin-top: 2em;
    z-index: 10;
    border-radius: 1em;
    font-size: larger;
    font-weight: bold;
    opacity: 0;
    transition: opacity 300ms ease-in;
}

#toast.error {
    background-color: #BD362F;
    color: white;
}

#toast.warning {
    background-color: #faaa43;
    color: white;
}