@import "../../lib/dijit/themes/claro/claro.css";
@import "../../../luciad/resources/css/luciad.css";
@import "../../common/attribution/AttributionComponent.css";
@import "../../common/navigation/ZoomControl.css";


html, body {
    height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 13px;
}


@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../../lib/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../../lib/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../lib/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../lib/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../lib/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-info-sign:before {
    content: "\e086";
}

#mapview {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.header_collapse {
    display: none;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:0.93; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:0.93; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:0.93; } }

.header_expanded {

    opacity: 0; /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    animation-duration: 0.25s;
    opacity: 0.93;
    background-color: #f5f5f5;
    z-index: 400;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    height: 100%;
    width: 100%;
    position: relative;
}

.sample_title {
    font-weight: bold;
    font-size: 18px;
    color: #3c2776;
}

.sample_title h2 {
    font-weight: bold;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

.sample_description {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 13px;
}

.info_button {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 350;
    color: white;
    font-size: 48px;
}

.info_button:active {
    top: 11px;
}

.close_button_holder {
    margin: 0px auto 0px auto;
    text-align: center;
    padding-bottom: 1em;
}

.hide_button {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: transparent;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #5d5d5d;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
}

.hide_button:active {
    position: relative;
    top: 1px;
}

#map {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    position: relative;
    background-color: #181818;
    overflow: hidden;
}

#logo {
    width: 118px;
    height: 33px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 150;
    background-image: url("../../../luciad/resources/css/images/logo_luciad_white.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-size: contain;
    pointer-events: none;
}


#toastwrapper {
  width: 100%;
  position: absolute;
  z-index: 10;
  text-align: center;
}

#toast {
  text-align: start;
  box-shadow: 0.2em 0.2em 0.3em gray;
  display: none;
  max-width: 80%;
  padding: 1em;
  margin-top: 2em;
  z-index: 10;
  border-radius: 1em;
  font-size: larger;
  font-weight: bold;
  opacity: 0;
  transition: opacity 300ms ease-in;
}

#toast.error {
  background-color: #BD362F;
  color: white;
}

#toast.warning {
  background-color: #faaa43;
  color: white;
}

.glyphicon {
  text-shadow: 0px 0px 4px rgba(50, 50, 50, 0.7);
}
