
.labelwrapper {
  /*background-color: rgba(255,255,255,0.3);*/
  /*box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.3);*/
  /*border-radius: 15px;*/
  padding-top: 10px;

}

.redColorLabel {
  border-left: 1px solid rgb(109, 46, 34);
  border-right: 1px solid rgb(109, 46, 34);
  border-bottom: 1px solid rgb(109, 46, 34);
  color: rgb(109, 46, 34);
}

.blueColorLabel {
  border-left: 1px solid rgb(0, 96, 154);
  border-right: 1px solid rgb(0, 96, 154);
  border-bottom: 1px solid rgb(0, 96, 154);
  color: rgb(0, 96, 154);
}

.redColorTick {
  border-top: 1px solid rgb(109, 46, 34);
}

.blueColorTick {
  border-top: 1px solid rgb(0, 96, 154);
}

.smallAirspaceLabel {
  padding: 1px 3px 1px 3px;
  margin: 1px ;
  border-radius: 25px;
  font-weight: bold;
  color: rgba(255,255,255,1);
}

.smallLabelRedColor {
  border: 1px solid rgba(109, 46, 34, 1);
  background: rgba(109, 46, 34, 0.9);
}

.smallLabelBlueColor {
  border: 1px solid rgb(0, 96, 154);
  background: rgba(0, 96, 154, 0.9);
}
.smallLabelGreenColor {
  border: 1px solid #228b22;
  background: #228b22;
}

.airspaceLabel {
  position: relative;
  top: 0;
  left: 0;
  margin: 2px;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.65);
}

.airspaceLabel .theader {
  position: relative;
  width: auto;
  height: auto;
  /*border: 1px solid green;*/
}

.airspaceLabel .theader .leftTick {
  position: relative;
  float: left;
  width: 10px;
}

.airspaceLabel .theader .rightTick {
  position: relative;
  float: right;
  width: 10px;
}

.airspaceLabel .theader .name {
  position: relative;
  top: -0.6em;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  font: bold 13px arial, sans-serif;
  text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey
}

.airspaceLabel .Icao {
  position: relative;
  top: -0.4em;
  padding-left: 4px;
  padding-right: 4px;
  font: bold 11px arial, sans-serif;
  text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey
}

/*#snippet airspacelabel_fragment*/
.airspaceLabel .type {
  position: relative;
  top: -0.4em;
  padding-left: 4px;
  padding-right: 4px;
  font: bold 11px arial, sans-serif;
  text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey
}

/*#endsnippet airspacelabel_fragment*/