.luciad .lcdBalloon .lcdContent {
    max-height: 400px;
    max-width: 400px;
    width: auto;
}
#map {
  width: -moz-calc(100% - 1px);
  width: -webkit-calc(100% - 1px);
  width: calc(100% - 1px);
  left: 0;
  height: 100%;
}

#top {
    position:absolute;
	top: 50px;
	left: 10px;
        right: 10px;
}


#ui-id-1{
    width: 20% !important;
    border: 1px solid #c1d92a !important;
    color: #c1d92a !important;
    /*text-shadow: 0.1em 0.1em 0.1em #c1d92a;*/
}

.avoid-clicks {
    pointer-events: none;
}

.table {
   width: 100px;
   border: 0px solid #000;
}
th, td {
   
   text-align: left;
   vertical-align: top;
   border: 0px solid #FFFFFF;
   border-collapse: collapse;
   padding: 5px;
   caption-side: bottom;
}

.label {
  font-size: 12px;
  padding: 2px;
  font: 'LeagueGothicRegular';
  text-shadow: 1px 1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, -1px -1px 1px #000000, 0 -1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, 0 1px 1px #000000;
  color: #ffffff;
}

#logoSagarpa {
  width: 180px;
  height: 80px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 150;
  background-image: url("data/img/logoSagarpa.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  pointer-events: none;
}

#panelControl {
    display: none;
    min-width: 300px;
    width: 400px;
    height: 100%;
    position: absolute;
    z-index: 300;
    top: 0px;
    left: 0px;
    padding: 0 10px 10px 10px;
    background-color: #17202a;
    font-size: 12px;
    opacity: 0.8;
    overflow-y: scroll;
}

#panelComparacion {
  display: none;
  font-size: 12px;
  background-color: #17202a;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 300;
  min-width: 250px;
  max-width:  400px;
  min-height: 150px;
  max-height: 440px;
  box-sizing: content-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  clear: left;
  border-width: 1px;
  border-style: solid;
  border-color: #bcdb28;
  margin-top: 10px;
  margin-left: 10px;
  /*overflow-y: scroll;*/
}
#panelImagenes {
  display: none;
  font-size: 12px;
  background-color: #17202a;
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 300;
  min-width: 250px;
  max-width:  400px;
  min-height: 150px;
  max-height: 440px;
  box-sizing: content-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  clear: left;
  border-width: 1px;
  border-style: solid;
  border-color: #bcdb28;
  margin-top: 10px;
  margin-left: 10px;
  overflow-y: scroll;
}

#panelTimeSlider {
    /*display: none;*/
    min-width: 300px;
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: 300;
    bottom: 0px;
    padding: 0 10px 10px 10px;
    background-color: #17202a;
    opacity: 0.9;
}

::-webkit-scrollbar {
      width: 10px;
      height: 10px;
}
::-webkit-scrollbar-track {
      background-color: #1d2227;
} 
::-webkit-scrollbar-thumb {
      background-color: #bcdb28;
} 
::-webkit-scrollbar-button {
      background-color: #bcdb28;
}
::-webkit-scrollbar-corner {
      background-color: #1d2227;
}