/*
For use with Bootstrap 3 source
Use in <BOOTSTRAP_3_SOURCE_DIR>/less
Compile with 'lessc luciad.less > bootstrap-luciad.css' for normal css or
'lessc --compress luciad.less > bootstrap-luciad.min.css' for minified css
*/
@import "bootstrap.less";
@import "variables-luciad-dark.less";

.btn-default:active,.btn-default.active,.btn-default:focus:active,.btn-default.active:focus {
  background-color: @brand-primary;
  color: rgb(13, 20, 28);
  border-color: @body-bg;
}

.btn-default:hover, .btn-default:focus:hover {
  background-color: darken(@brand-primary, 5%);
  color: rgb(13, 20, 28);
  border-color: @body-bg;
}

.btn-default:focus,.btn-default.focus {
  background-color: rgb(13, 20, 28);
  color: #fff;
  border-color: @body-bg;
}

/* Original: margin-left: -1px; why, bootstrap? whyyyyy??? */
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left: 0px;
}