@import "./resources/TouchLayerControl.css";

html, body {
  overflow: hidden;
}

#mapview {
  overflow: hidden;
}

#layerbutton {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    z-index: 350;
    background-color: #c1d92a;
    opacity: 0.8;
    background-image: url("images/layers.png");
    background-repeat: no-repeat;
}


/*
shift info button a little to the right,
so it does not overlap existing buttons.
*/
.info_button {
    right: 80px
}


/**
We use the dojox.mobile module (v. 1.8) to simulate iPhone styling.
The CSS .mblToolBarButtonText class definition is missing from the dojox/mobile/themes/iphone/ToolbarButton.css stylesheet,
which causes slight formatting issues in Chrome (v.26)
We define that class here as a work-around.
*/
.mblToolBarButtonText {
    color: white;
    height: 100%;
}