.luciad .lcdBalloon .lcdContent {
    max-height: 400px;
    max-width: 400px;
    width: auto;
}
#map {
  width: -moz-calc(100% - 1px);
  width: -webkit-calc(100% - 1px);
  width: calc(100% - 1px);
  left: 0;
  height: 100%;
}

#top {
    position:absolute;
	top: 50px;
	left: 10px;
        right: 10px;
}

#timeslider {
  width: 100%;
  height: 70px;
  background-color: rgb(13, 20, 28);
  margin-left: auto;
  margin-right: auto;
  top: 10px;
}

#ui-id-1{
    width: 20% !important;
    border: 1px solid #c1d92a !important;
    color: #c1d92a !important;
    /*text-shadow: 0.1em 0.1em 0.1em #c1d92a;*/
}

.avoid-clicks {
    pointer-events: none;
}

.table {
   width: 100px;
   border: 0px solid #000;
}
th, td {
   
   text-align: left;
   vertical-align: top;
   border: 0px solid #FFFFFF;
   border-collapse: collapse;
   padding: 5px;
   caption-side: bottom;
}

.label {
  font-size: 12px;
  padding: 2px;
  font: 'LeagueGothicRegular';
  text-shadow: 1px 1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, -1px -1px 1px #000000, 0 -1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, 0 1px 1px #000000;
  color: #ffffff;
}

::-webkit-scrollbar {
      width: 10px;
}
::-webkit-scrollbar-track {
      background-color: #1d2227;
} 
::-webkit-scrollbar-thumb {
      background-color: #bcdb28;
} 
::-webkit-scrollbar-button {
      background-color: #bcdb28;
}
::-webkit-scrollbar-corner {
      background-color: #1d2227;
}

.panel {
    display: none;
    left: 10px;
    top: 25px;
    min-width: 200px;
    max-width: 95%;
    min-height: 100px;
    max-height: 85%;
    position: absolute;
    z-index: 300;
    padding: 0 10px 10px 10px;
    background-color: #17202a;
    font-size: 12px;
    overflow-y: scroll;
    overflow-x: scroll;
    border-width: 1px;
    border-style: solid;
    border-color: #bcdb28;
    margin-top: 10px;
    margin-left: 10px;
}