.luciad .lcdBalloon .lcdContent {
    max-height: 400px;
    max-width: 400px;
    width: auto;
}
#map {
  width: -moz-calc(100% - 1px);
  width: -webkit-calc(100% - 1px);
  width: calc(100% - 1px);
  left: 0;
  height: 100%;
}

#top {
    position:absolute;
	top: 50px;
	left: 10px;
        right: 10px;
}

.label {
  font-size: 12px;
  padding: 2px;
  font: 'LeagueGothicRegular';
  text-shadow: 1px 1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, -1px -1px 1px #000000, 0 -1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, 0 1px 1px #000000;
  color: #ffffff;
}

#ui-id-1{
    width: 20% !important;
    border: 1px solid #c1d92a !important;
    color: #c1d92a !important;
    /*text-shadow: 0.1em 0.1em 0.1em #c1d92a;*/
}

.avoid-clicks {
    pointer-events: none;
}

#timelabel {
    font-size: 42px;
    z-index: 70;
    background-color: transparent;
    pointer-events: none;
}

#panel1 {
    min-width: 300px;
    display: none;
    width: 33%;
    height: 90%;
    position: absolute;
    z-index: 300;
    top: 50px;
    left: 10px;
    bottom: 0px;
    padding: 0 10px 10px 10px;
    background-color: rgba(13, 20, 28, 0.95);
    font-size: 12px;
    /*opacity: 0.9;*/
    overflow-y: scroll;
    border-width: 1px;
    border-style: solid;
    border-color: #bcdb28;
    margin-top: 10px;
    margin-left: 10px;
}
#panelControl {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  display: none;
  background-color: #1d2227;
  position: absolute;
  top: 30px;
  left: 10px;
  min-width: 200px;
  width: 600px;
  max-width:  53%;
  min-height: 200px;
  max-height: 90%;
  z-index: 300;
  border-width: 1px;
  border-style: solid;
  border-color: #bcdb28;
  margin-top: 10px;
  margin-left: 10px;
  overflow-y: scroll;
  /*opacity: 0.9;*/
}
#panelControl2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  display: none;
  color: white;
  background-color: #1d2227;
  position: absolute;
  top: 50px;
  left: 30px;
  min-width: 200px;
  width: 600px;
  max-width:  53%;
  min-height: 200px;
  max-height: 90%;
  z-index: 300;
  border-width: 1px;
  border-style: solid;
  border-color: #bcdb28;
  margin-top: 10px;
   margin-left: 10px;
   overflow-y: scroll;
}
#panelVideo {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  display: none;
  color: white;
  background-color: #1d2227;
  position: absolute;
  top: 50px;
  left: 30px;
  min-width: 200px;
  width: 600px;
  max-width:  53%;
  min-height: 200px;
  max-height: 90%;
  z-index: 300;
  border-width: 1px;
  border-style: solid;
  border-color: #bcdb28;
  margin-top: 10px;
   margin-left: 10px;
   overflow-y: scroll;
}
#panelTimeSlider {
    /*display: none;*/
    min-width: 300px;
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: 300;
    bottom: 0px;
    padding: 0 10px 10px 10px;
    background-color: #17202a;
    opacity: 0.9;
}
#timeslider {
    /*position: fixed;
    bottom: 0;*/
    width: 100%;
    height: 150px;
    background-color: rgb(13, 20, 28);
    margin-left: auto;
    margin-right: auto;
}

::-webkit-scrollbar {
      width: 10px;
      height: 10px;
}
::-webkit-scrollbar-track {
      background-color: #1d2227;
} 
::-webkit-scrollbar-thumb {
      background-color: #bcdb28;
} 
::-webkit-scrollbar-button {
      background-color: #bcdb28;
}
::-webkit-scrollbar-corner {
      background-color: #1d2227;
}
.addui {
  display: none;
}

.table {
   /*width: 100px;*/
   border: 1px solid #000;
}
th, td {
   text-align: left;
   vertical-align: top;
   
   border-collapse: collapse;
   padding: 5px;
   caption-side: bottom;
}
.botonTabla {
    text-decoration: none;
    padding: 0px;
    color: #ffffff;
    background:transparent; 
    border-radius: 0px;
    border: 0px ;
}


#logoAxa {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0px;
  right: 10px;
  z-index: 150;
  background-image: url("data/img/axaLogo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  pointer-events: none;
}
