@import "../../LayerTreeControl.css";

.FoldableLayerControlDisplay {
    color: #262e38;
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    top: 10px;
    right: 0px;
    opacity: 0.8;
    z-index: 350;
}

.FoldableLayerControlDisplay .FoldableLayerControlButton {
    /*  border: 3px solid #3c2776;
  background-color: #3c2776; */
    position: relative;
    border: 1px solid #c1d92a;
    background-color: #c1d92a;
    width: 25px;
    height: 25px;
    margin-left: auto;
    background-image: url("images/PlusMinusWhite.png");
    background-repeat: no-repeat;
    z-index:350;
}

.FoldableLayerControlDisplay .FoldableLayerControlButtonClosed {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-position: -25px 0;
    position: relative;
    z-index: 350;
}

.FoldableLayerControlDisplay .FoldableLayerControlButtonOpen {
    border-top-left-radius: 4px;
    background-position: 0 0;
    position: relative;
}

.FoldableLayerControlDisplay .FoldableLayerControlPanel {
    /*  background-color: #3c2776;
border: 3px solid #3c2776; */
    background-color: white;
    border: 1px solid #c1d92a;
    min-width: 200px;
    width: auto;
    height: auto;
    padding: 2px;
    position: relative;
    z-index: 350;
}