.luciad .lcdBalloon .lcdContent {
    max-height: 400px;
    max-width: 400px;
    width: auto;
}
#map {
  background-color: #181818;
  position: relative;
  top: 5px;
  width: 100%;
  height: 500px;
  border: 0;
  margin: 0 0;
}

#onmap {
  z-index: 200;
}

#top {
    position:absolute;
	top: 50px;
	left: 10px;
        right: 10px;
}
.closeButton {
    display: block;
    right: 10px;
    top: 10px;
    position: absolute;
}
#afterafter {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 200px;
  z-index: 100;
  padding: 10px 10px 10px 10px;
  /*background-color: #1d2227;*/
  /*background-color: rgba(0, 62, 81, 0.6);*/
  background-color: rgba(29, 34, 39, 0.6);
}


#timeSlider {
  z-index: 1000;
  height: 110px !important;
  background-color: rgba(29, 34, 39, 0.6);
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  /*top: 30px;*/
}
#timeSliderOverview {
  position: absolute;
  left: 116px;
  right: 116px;
  top: 10px;
  z-index: 1000;
  /*margin-bottom: 10px;*/
  height: 60px !important;
  /*margin-left: 150px;*/
  /*margin-right: 150px;*/
  background-color: rgba(29, 34, 39, 0.6);
  cursor: pointer;
  cursor: hand;
}

#ui-id-1{
    width: 20% !important;
    border: 1px solid #c1d92a !important;
    color: #c1d92a !important;
    /*text-shadow: 0.1em 0.1em 0.1em #c1d92a;*/
}

.avoid-clicks {
    pointer-events: none;
}

.table {
   width: 100px;
   border: 0px solid #000;
}
th, td {
   
   text-align: left;
   vertical-align: top;
   border: 0px solid #FFFFFF;
   border-collapse: collapse;
   padding: 5px;
   caption-side: bottom;
}

.label {
  font-size: 12px;
  padding: 2px;
  font: 'LeagueGothicRegular';
  text-shadow: 1px 1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, -1px -1px 1px #000000, 0 -1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, 0 1px 1px #000000;
  color: #ffffff;
}

::-webkit-scrollbar {
      width: 10px;
}
::-webkit-scrollbar-track {
      background-color: #1d2227;
} 
::-webkit-scrollbar-thumb {
      background-color: #bcdb28;
} 
::-webkit-scrollbar-button {
      background-color: #bcdb28;
}
::-webkit-scrollbar-corner {
      background-color: #1d2227;
}

#datelabelstart {
  left: 10px;
  bottom: 10px;
  
}

#timelabelstart {
  left: 10px;
  top: 15px;
}

#datelabelend {
  right: 10px;
  bottom: 10px;
}

#timelabelend {
  right: 10px;
  top: 15px;
}

.lcd-datetimelabel {
  z-index: 1050;
  position: absolute;
  /*background-color: transparent;*/
  /*pointer-events: none;*/
  cursor: pointer;
  cursor: hand;
  /*color: white;*/
  /*text-shadow: black 0px 0px 5px;*/
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /*background-color: #0d141c;*/
  /*background-color: rgba(13, 20, 28, 0.7);*/
  background-color: rgba(13, 20, 28, 1.0);
  width: 96px;
  /*height: 55px;*/
  height: 60px;
  justify-content: center;
}
.lcd-datetimelabel:hover {
  background-color: #b0c623;
  /*color: #0d141c;*/
  border-color: #1d2227;
}

.lcd-timelabel {
  position: absolute;
  /*bottom: 167px;*/
  bottom: 165px;
  font-size: 150%;
  /*font-family: "Lucida Console", Monaco, monospace;*/
}

.lcd-datelabel {
  position: absolute;
  /*bottom: 150px;*/
  bottom: 147px;
  font-size: 88%;
  font-family: "Lucida Console", Monaco, monospace;
}
#menuGraficas {
    width: 400px;
    left: 5px;
    top: 0px;
    height: 63%;
    position: absolute;
    z-index: 300;
    padding: 0 10px 10px 10px;
    background-color: #17202a;
    font-size: 12px;
    opacity: 0.8;
    overflow-y: scroll;
    border-width: 1px;
    border-style: solid;
    border-color: #bcdb28;
    margin-top: 10px;
    margin-left: 10px;
}

#login {
    display: block;
    top: 30%;
    left: 30%;
    right: 30%;
    width: 40%;
    height: 30%;
    position: absolute;
    z-index: 300;
    padding: 0 10px 10px 10px;
    background-color: #17202a;
    font-size: 12px;
    opacity: 0.8;
    border-width: 1px;
    border-color: #bcdb28;
    align-content: center;
    align-items: center;
}

.selectPanel {
    background-color: rgb(13, 20, 28);
    color: white;
}
.panel {
    display: none;
    left: 10px;
    top: 25px;
    min-width: 200px;
    max-width: 95%;
    min-height: 100px;
    max-height: 90%;
    position: absolute;
    z-index: 300;
    padding: 0 10px 10px 10px;
    background-color: #17202a;
    font-size: 12px;
    overflow-y: scroll;
    overflow-x: scroll;
    border-width: 1px;
    border-style: solid;
    border-color: #bcdb28;
    margin-top: 10px;
    margin-left: 10px;
}
 
.none {
    display: none;
}

.visible {
    display: yes;
}

.bigTable {
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 400px;
    table {
        width: 100%;
        border: 1px solid #000;
    }
    th, td {
        width: 25%;
        text-align: left;
        vertical-align: top;
        border: 1px solid #000;
        border-collapse: collapse;
        padding: 0.3em;
        caption-side: bottom;
    }
    caption {
        padding: 0.3em;
    }
}


.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#infopanel {
  min-width: 300px;
  display: none;
  width: 30%;
  height: 100%;
  position: absolute;
  z-index: 300;
  top: 0px;
  left: 0px;
  padding: 0 10px 10px 10px;
  background-color: rgba(13, 20, 28, 0.95);
  font-size: 12px;
}

#infopanel-content {
  margin-top: 35px; /*info button = 10px from top + 25px high */
  overflow: auto;
  height: calc(100% - 35px);
}
.topcenter {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0%); /* Safari fix */
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 90;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  margin-top: -50%;
  -webkit-transform: translate(-50%, 0%); 
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 90;
}

.bottomcenter {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0%); /* Safari fix */
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 90;
}

#buttons {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 400;
  background-color: transparent;
  border: 0;
}
.btn-map {
  background-color: transparent !important;
  border: 0;
  font-size: 1.75em;
  padding: 2px 4px;
}

.btn-map:hover {
  color: rgb(192, 217, 42) !important;
}

.btn-map.active {
  color: rgb(192, 217, 42) !important;
}

#logoIntelgeo {
  width: 100px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 150;
  background-image: url("../../recursos/logos/logoIntelgeo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  pointer-events: none;
}
#logoIntelgeow {
  width: 100px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 150;
  background-image: url("../../recursos/logos/intelgeow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  pointer-events: none;
}
#logoIntelgeos {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 150;
  background-image: url("../../recursos/logos/intelgeow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  pointer-events: none;
}
#logoIntelgeoL {
  width: 120px;
  height: 60px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 150;
  background-image: url("../../recursos/logos/logoIntelgeo3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  pointer-events: none;
}
#logoIntelgeon {
  width: 80px;
  height: 120px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 150;
  background-image: url("../../recursos/logos/inteligencia.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  pointer-events: none;
}
#logoIntelgeonw {
  width: 80px;
  height: 120px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 150;
  background-image: url("../../recursos/logos/inteligenciaw.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  pointer-events: none;
}

.buttonTable{
    text-decoration: none;
    padding: 0px;
    color: #c1d92a;
    background:transparent; 
    border-radius: 2px;
    border: 1px ;
    border-color: #c1d92a;
}