
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footnote {
    margin-top: 20px;
}

#timelabel {
    font-size: 42px;
    z-index: 70;
    background-color: transparent;
    pointer-events: none;
}

#fr24-logo {
    position: absolute;
    width: 118px;
    height: 33px;
    bottom: 10px;
    left: 10px;
    z-index: 50;
    background-image: url("../img/flightradar24_logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-size: contain;
}

.trackLabel {
    color:  rgb(192, 217, 42);
    background: rgba(24, 29, 34, 0.8);
    border-radius:8px;
    padding: 8px;
}

#overviewmapWrapper {
    position: absolute;
    width: 256px;
    height: 256px;
    z-index: 151;
    display: none;
    right: 0;
    top: 0;
}

#overviewmap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 151;
    border-radius:8px;
    padding: 8px;
    background: rgba(24, 29, 34, 0.7);
}

#closeCockpit {
    position: absolute;
    z-index: 151;
    bottom: -12px;
    right: 4px;
    background: rgba(24, 29, 34, 0.7);
}

#closeCockpit:hover {
    color: rgb(192, 217, 42) !important;
    cursor: pointer
}

.spacer {
    margin-top: 15px;
}

.axis path {
    fill: none;
}

.axis line {
    fill: rgb(13, 20, 28);
}

.axis text{
    fill: #fff;
}

.x.axis .tick line{
    stroke: #fff;
    stroke-width: 0px ;
}

line.marker { /* The marker on the chart is the line that indicates the current time */
    stroke: rgb(192, 217, 42);
    stroke-width: 2px;
    stroke-linecap: "round";
}

.chart {
    background-color: rgb(13, 20, 28);
    height: 34px;
}

.outofbounds {
    fill: rgb(24, 29, 34);
    z-index: -2;
}

.clearicon {
    color: rgb(192, 217, 42);
}

label {
  font-size: 14px;
}

span.glyphicon {
    height: 20px;
}

.tt-dropdown-menu {
    bottom: 35px !important;
}

.fullwidth {
    width: 100%;
}

.form-control::-ms-clear {
    display: none;
    width:0;
    height:0;
}

.twitter-typeahead .tt-input {
    width: 100%;
}

#ui {
    padding: 0;
}

#after {
    padding: 0 0 10px 0;
}