<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olly</title>
    {% include 'html_dependencies_login.html' %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>