{% extends "base_login.html" %}
{% block content %}
	<div class="limiter">
		<div class="container-login100" style="background-image: url('../static/images/bg-01.jpg');">
			<div class="wrap-login100">
                            <!--===============================================================================================-->
				<form id="formLogin" class="login100-form validate-form" action="{{url_for ('users.login_user')}}" method="post">
				  <span class="login100-form-logo"> <img src="../static/images/olly_web.png" width="150" height="90" alt=""/></em> </span>
                                  <span class="login100-form-title p-b-22 p-t-22"> Iniciar sesión </span>

				  <div class="wrap-input100 validate-input" data-validate = "Nombre de usuario incorrecto">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Contraseña incorrecta">
						<input class="input100" type="password" name="password" placeholder="Contraseña">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Recordarme
						</label>
					</div>

					<div class="container-login100-form-btn">
						<button type = "submit" class="login100-form-btn">
							Entrar
						</button>
					</div>
					<div class="text-center p-t-12">
						<a href="{{ url_for('users.register_user')}}">Registrarse</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>

{% endblock %}