.luciad .lcdBalloon .lcdContent {
  max-height: 400px;
  max-width: 400px;
  width: auto;
}

#density {
  margin-left: auto;
  margin-bottom: 10px;
}

#playbackmode {
  margin-left: auto;
  margin-bottom: 10px;
}

#play {
  position: absolute;
  z-index: 10;
  margin-left: 10px;
  margin-top: 10px;
  width: 40px;
  border: 1px solid #c1d92a;
}

span.glyphicon {
  height: 20px;
}

#timeslider {
  width: 100%;
  height: 230px;
  background-color: rgb(13, 20, 28);
  margin-left: auto;
  margin-right: auto;
  top: 10px;
}
