.luciad .lcdBalloon .lcdContent {
  width: 336px;
}

.propertiesPanelColumn {
  height: 4ex;
}

.propertiesPanelLabel {
  height: 4ex;
  width: 38% !important;
  float: left;
}

.propertiesPanelInput {
  float: right;
  width: 58%;
}


.propertiesRow {
  height: 4ex;
}


form#spotDataForm label {
  float: left;
  width: 38%;
  height: 4ex;
}

form#spotDataForm .forminput {
  float: right;
  width: 58%;
}