/* default.css */
body {
    font: 12px "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
}

.header {
    background-color: #F3F3F3;
    padding: 10px;
    margin: 0;
    border: 0;
}

.header img {
    vertical-align: middle;
}

.header .title {
    width: 560px;
    text-align: center;
    display: inline-block;
    font-size: 250%;
    font-weight: bold;
    color: #003e51;
}

h1 {
    font-size: 150%;
    font-weight: bold;
    padding: 0;
    margin: 1em 0 0 .3em;
}

hr {
    border: none 0;
    border-top: 1px solid #003e51;
    height: 1px;
}

pre.code {
    display: block;
    padding: 8px;
    border: 1px dashed #ccc;
}

#index {
    margin-top: 24px;
    float: left;
    width: 160px;
    position: absolute;
    left: 8px;
    background-color: #F3F3F3;
    padding: 8px;
}

#content {
}

.classList {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 8px;
    font-family: arial, sans-serif;
    font-size: 1em;
    overflow: auto;
}

.classList li {
    padding: 0;
}

.summaryTable {
    border-collapse: collapse;
    width: 100%;
}

.classTitle {
    padding: 0;
    margin: 1em 0 1em .3em;
    color: #003e51;
}

.classTitle span{
    font-weight: bold;
}

.classTitle h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 170%;
}

h2.classProductName {
    float: right;
}

h2 {
    margin: 0;
    font-size: 110%;
}

caption, div.sectionTitle {
    background-color: #003e51;
    color: #fff;
    font-size: 130%;
    text-align: left;
    padding: 2px 6px 2px 6px;
    border: 1px #003e51 solid;
}


a, a:visited {
    text-decoration: none;
    color: #003e51
}

a:hover, a:focus {
    text-decoration: none;
    color: #c5d000;
}

caption a{
    color: #fff;
}

div.sectionTitle {
    margin-bottom: 8px;
}

.summaryTable thead {
    display: none;
}

.summaryTable td {
    vertical-align: top;
    padding: 4px;
    border: 1px #003e51 solid;
}

/*col#summaryAttributes {}*/
.summaryTable td.attributes {
    width: 140px;
    text-align: right;
}

td.attributes, .fixedFont {
    line-height: 15px;
    color: #003e51;
    font-family: "Courier New", Courier, monospace;
    font-size: 13px;
}

.summaryTable td.nameDescription {
    text-align: left;
    font-size: 13px;
    line-height: 15px;
}

div.description {
    clear: both;
}

.summaryTable td.nameDescription, .description {
    line-height: 15px;
    padding: 4px;
    padding-left: 4px;
}

.summaryTable .description p {
    margin: 0;
}

.summaryTable {
    margin-bottom: 8px;
}

ul.inheritsList {
    list-style: square;
    margin-left: 20px;
    padding-left: 0;
}

.detailList {
    margin-left: 20px;
    line-height: 15px;
}

.detailList dt {
    margin-left: 20px;
}

.detailList .heading {
    font-weight: bold;
    padding-bottom: 6px;
    margin-left: 0;
}

.light, td.attributes, .light a:link, .light a:visited {
    color: #777;
    font-style: italic;
}

.fineprint {
    text-align: right;
    font-size: 10px;
}

.componentDetail {
    margin-top: 20px;
    margin-bottom: 20px;
}

.deprecated, .deprecated a {
    text-decoration: line-through;
    color: #7d8c9d !important;
}
