<div>

  <!-- Definition of empty memory stores per input field -->
  <div data-dojo-type="dojo/store/Memory"
       data-dojo-id="symbolStore"
       data-dojo-props="data: []">
  </div>

  <!-- Visualization of input fields-->
  <div class="propertiesPanelColumn" data-dojo-attach-point="createSymbolContainer">
    <label class="creationPanelLabel" for="createSymbolForm">Create Symbol:</label>
    <input class="creationPanelInput"
           id="createSymbolForm"
           data-dojo-props="store:symbolStore, searchAttr:'name', queryExpr: '*\$\{0\}*', autoComplete: false, selectOnClick:true, required: false, forceWidth: true, pageSize: 10"
           data-dojo-type="dijit/form/FilteringSelect"
           data-dojo-attach-point="createSymbolAttachPoint"
           data-dojo-attach-event="onChange:_symbolSelect"/>
  </div>

</div>