/*
 * This file overrides some defaults in bootstrap.
 * Ideally, settings that can be configured in config.json should be removed here and compiled into bootstrap.
 * http://getbootstrap.com/customize/
 */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 70px;
  margin-bottom: 70px;
}

/* A jumbotron must touch the navbar, so undo the additional 20px margin on the body tag */
.jumbotron {
  margin-top: -20px;
  background-color: #e5e8eb;
}

/* The first page-header shouldn't have a top margin; it'll make it appear too low on the page */
.container h1.page-header:first-of-type {
  margin-top: 0;
}

.panel-luciad {
  border-color: #003e51;
}

.panel-luciad > .panel-heading {
  color: #fff;
  background-color: #003e51;
  border-color: #003e51;
}

.panel-luciad > .panel-heading > h3 {
  white-space: nowrap;
  overflow-x: hidden;
}

.panel-luciad a {
  color: #003e51;
}

/* Starting with section 2 (additional components), set a fixed height for the panels */
.page-header:nth-of-type(n+2) ~ div.row .panel-luciad .panel-body {
  height: 150px;
  overflow-y: auto;
}

#sidebar {
  /* The width property is relative to the container column when not affixed, but to the page when it is
   * Using min-width prevents unwanted shrinking of the sidebar */
  min-width: 25%;
  max-height: 100%;
  overflow-y: auto;
}

#sidebar>.nav {
  margin-bottom: 15px;
}

#sidebar>a {
  color: #6b7d82;
  font-size: 75%;
  padding-left: 18px;
}

#sidebar li>a {
  padding-top: 4px;
  padding-bottom: 4px;
}

#sidebar li li>a {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 85%;
}

#sidebar li li>a::before {
  content: "";
  padding-left: 10px;
}

#sidebar .nav>li>a {
  border-left: 3px solid transparent;
  color: #6b7d82;
}

#sidebar .nav>li>a:hover {
  background: transparent;
}

#sidebar .nav>li:not(.active)>a:hover {
  border-left: 1px solid #385459;
  padding-left: 17px;
  color: #385459;
}

#sidebar .nav>li.active>a {
  border-left: 3px solid #003e51;
  color: #003e51;
}

#sidebar.affix-top {
  position: static;
  margin-top: 20px;
}

#sidebar.affix {
  position: fixed;
  top: 70px;
}

#sidebar.sidebar-collapse>ul>li>ul>li {
  display: none;
}

#sidebar.sidebar-collapse>ul>li.active>ul>li {
  display: inline;
}

/* An oddity with JQuery.offset() causes affix to break if you resize the window and scroll to the bottom.
 * This style prevents JQuery from doing that. */
#sidebar.affix-bottom {
  position: relative;
}

/* Luciad navbar theme */
#navbar {
  background-color: #fff;
  border-bottom: 1px solid #003e51;
}

#navbar .navbar-brand img {
  margin-top: -7px;
}

#navbar .navbar-text {
  color: #6b7d82;
}

#navbar .navbar-nav>li>a {
  color: #6b7d82;
}

#navbar .navbar-nav>li:not(.active)>a {
  padding-bottom: 15px;
}

#navbar .navbar-nav>.active>a, #navbar .navbar-nav>.active>a:focus, #navbar .navbar-nav>.active>a:hover {
  color: #003e51;
  background-color: #fff;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 5px solid #003e51;
}

#navbar .navbar-nav>li>a:hover {
  background-color: transparent;
  color: #385459;
  padding-bottom: 10px;
  border-bottom: 5px solid #385459;
}

.dropdown-menu.dropdown-fixed {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}


.footer {
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #003e51;
}

.footer p {
  color: #fff;
  margin-top: 15px;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}

/* The default red color sheme is a bit aggressive */
code {
  color: #213d43;
  background-color: #e5e8eb;
}

/* Don't color code elements in an alert, it looks bad */
.alert code {
  color: inherit;
  background-color: inherit;
}

/*release notes*/
.change {
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid #eee;
}
.change > h4 > small {
float: right;
}

/*styling for highlight samples*/
.highlight-item {
  margin-bottom: 35px;
}

.thumbnail{
  margin-bottom: 10px;
}

.highlight-item h3{
  margin-top: 5px;
}