<div id="simpleSidicSelector">

  <div data-dojo-type="dojo.data.ItemFileReadStore"
       data-dojo-id="msSymbolStore"
       data-dojo-props="url: 'ms2525b.json'"></div>

  <label>Type</label>
  <input id="msselect"
         dojoType="dijit.form.ComboBox"
         data-dojo-attach-point="_msselect"
         searchAttr="id"
         labelAttr="id"
         labelType="html"
         class="forminput"
         store="msSymbolStore"
         name="code"
         type="text"/>

</div>