<div id="spotpane" class="formpanel">
  <form id="spotDataForm" dojoType="dijit.form.Form" action="" title="Spot Data"
        data-dojo-attach-point="form">

    <div id="sidicSelector" data-dojo-attach-point="_sidicSelectorDiv"></div>

    <div class="propertiesRow">
      <label>Longitude</label>
      <div dojoType="cop.ui.LongitudeTextBox"
           required="true"
           jsId="lonbox"
           class="forminput"
           name="lon"
           type="text"></div>

    </div>

    <div class="propertiesRow">
      <label>Latitude</label>
      <div dojoType="cop.ui.LatitudeTextBox"
           required="true"
           class="forminput"
           name="lat"
           type="text"></div>
    </div>

    <div class="propertiesRow">
      <label>Activity</label>
      <input dojoType="dijit.form.TextBox" class="forminput" name="activity"
             type="text">
    </div>


    <div style="clear: both;"></div>

    <div>
      <div class="buttoncontainer">
        <div id="crudstatus" dojoType="cop.ui.StatusBox" data-dojo-attach-point="_crudstatus"></div>
        <button id="btnSpotDataFormUpdate" dojoType="dijit.form.Button"
                data-dojo-attach-point="_btnupdate" data-dojo-attach-event="onClick:updateSpotData">
          Update
        </button>
        <button id="btnSpotDataFormDelete" dojoType="dijit.form.Button"
                data-dojo-attach-point="_btndelete" data-dojo-attach-event="onClick:deleteSpotData">
          Delete
        </button>
      </div>
    </div>
  </form>

  <div id="picturebox" data-dojo-attach-point="picturebox">
  </div>
</div>